#detailTabs li button{
    background-color: rgb(137, 137, 137);
    color: white;
}

#detailTabs li {
    margin-left: 3rem;
}

#detailWindow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#detailHeader {
    display: flex;
    justify-content: space-evenly;
}

#detailBody {
    display: flex;
    justify-content: space-evenly;
}