#gameBackground {
    max-width: 100%;
    display: flex;
    margin: auto;
   }


#detailWindow {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: space-between;
}
#detailHeader {
    display: flex;
    justify-content: space-evenly;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: white;
}

.detailBody {
    padding: 2rem;
    
}

#ESRBRating {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 5rem;
}

#gameTitle {
    text-align: center;
}

.platformCard {
    list-style: none;
    margin: 1rem;
    min-width: 3rem;
}

#platformList {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-evenly;
}

#platformsHeader {
    text-align: center;
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}