body {
    background-color: #202020;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    background-color: rgb(137, 137, 137);
    color: black;
}

.accordion-button {
    background-color: rgb(137, 137, 137);
    color: black;
}

.accordion-collapse {
    background-color: rgb(137, 137, 137);
    color: black;
}

.accordian-item {
    background-color: rgb(137, 137, 137);
    color: black;
}

.img-thumbnail {
    border-width: 0px;
    background-color: rgb(137, 137, 137);
}

.navBar {
    background-color: rgb(137, 137, 137);
    color: white;
    text-align: center;
    list-style-position: inside;
     
}

.card {
    background-color:  rgb(137, 137, 137);
    color: black;
}

.cardBody {
    display: flex;
    flex-direction: column;
}


.mainBody {
    color: white;
    display: flex;
    padding: 1rem;
}

.listContent {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.listContent li {
    list-style-type: none;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gameCard {
    max-width: 14rem;
    margin-right: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.gameRating {
    text-align: end;
}

.gameImage {
    max-height: 14rem;
}



#pageNaviagtion {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

#pageDisplay {
    display: flex;
    justify-content: center;
}

.searchFilter {
    display: flex;
    flex-direction: column;
}
.specificFilters {
    max-height: 4rem;
    margin-bottom: 0.5rem;
}
#filterBar {
    max-width: 13rem;
    padding: 1rem;
}

.tagText {
    display: flex;
    flex-wrap: wrap;
}
.tagText li {
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 2px;
    margin: 4px;
}

@media (max-width: 780px)
{
    .gameCard {
        max-width: 100%;

    }
    #filterBar {
        display: none;
    }
}