body {
    background-color: #202020;
    
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    background-color: rgb(137, 137, 137);
    color: black;
}

.navbar {
    background-color: rgb(137, 137, 137);
    color: white;
}

.mainBody {
    color: white;
    display: flex;
}

.listContent {
    display: flex;
    flex-wrap: wrap;
}

#navbar {
    max-width: 10rem;
    padding: 1rem;
}

.listContent li {
    list-style-type: none;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gameCard {
    
    margin: 1rem;
    width: 10rem;
    height: 10rem;
}
.card {
    background-color:  rgb(137, 137, 137);
    color: black;
}

#pageNaviagtion {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}